<h1>Editing email template</h1>

<%= render "form", email_template: @email_template %>

<br>

<div>
  <%= link_to "Show this email template", @email_template %> |
  <%= link_to "Back to email templates", email_templates_path %>
</div>
