<p style="color: green"><%= notice %></p>

<h1>Email templates</h1>

<div id="email_templates">
  <% @email_templates.each do |email_template| %>
    <%= render email_template %>
    <p>
      <%= link_to "Show this email template", email_template %>
    </p>
  <% end %>
</div>

<%= link_to "New email template", new_email_template_path %>
